<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" th:href="@{/css/alterarProduto.css}">
</head>

<body>
<main class="main-container-cadastro">
    <div class="cadastro-box">
        <div class="form-section">
            <h2>CADASTRAR PRODUTO</h2>
            <form th:action="@{/produtos/salvar}" method="post" th:object="${product}" enctype="multipart/form-data">

                <input type="hidden" th:field="*{idProduct}" />
                <div class="form-group">
                    <label for="nome">NOME DO PRODUTO:</label>
                    <input type="text" id="nome" placeholder="nome" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="preco">PREÇO:</label>
                    <input type="number" id="preco" placeholder="preco" th:field="*{value}">
                </div>
                <div class="form-group">
                    <label for="estoque">EM ESTOQUE:</label>
                    <input type="number" id="estoque" placeholder="estoque" th:field="*{quantity}">
                </div>
                <div class="form-group">
                    <label for="descricao">DESCRIÇÃO DETALHADA:</label>
                    <textarea id="descricao" rows="4" placeholder="descricao" th:field="*{description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="avaliacao">AVALIAÇÃO:</label>
                    <input type="number" id="avaliacao" placeholder="avaliacao">
                </div>
                <input class="btn-foto" type="file" id="imageFile" name="imageFile" accept="image/png, image/jpeg" />
                <button type="submit" class="btn-submit">ADICIONAR PRODUTO</button>
                <button class="btn-cancel">CANCELAR</button>
            </form>

        </div>
        <div class="image-section">
            <div class="image-placeholder">
                <div class="sky">
                    <div class="sun"></div>
                    <div class="cloud cloud1"></div>
                    <div class="cloud cloud2"></div>
                </div>
                <div class="mountains">
                    <div class="mountain1"></div>
                    <div class="mountain2"></div>
                </div>
                <div class="grass"></div>
            </div>
        </div>
    </div>
</main>

</body>
</html>