<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Bem-vindo ao Dashboard!
    <span th:if="${isAdmin}">ADMIN</span>
    <span th:unless="${isAdmin}">USER</span>
</h1>
<form th:action="@{/logout}" method="post" style="margin-bottom: 20px;">
    <button type="submit">Sair</button>
</form>
<ul>
    <li style="margin-bottom: 10px"><a href="/products">Listar Produtos</a></li>
    <li th:if="${isAdmin}" style="margin-bottom: 10px"><a href="/usuarios">Listar Usuários</a></li>
    <li><a href="/admPedidos">Listar Pedidos</a></li>
</ul>

</body>
</html>