<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/usuarios.js}"></script>
<link rel="stylesheet" th:href="@{/css/usuarios.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
</head>

<body>
<h2>Usuários</h2>
<div th:if="${emailError}">
    <script>alert('Já existe um usuário com este email!');</script>
</div>

<form id="formCriarUsuario" th:action="@{/usuarios/criar}" method="post" style="margin-bottom: 20px;"
      onsubmit="return validarCPFeSenhas();">
    <input type="text" name="name" placeholder="Nome" required/>
    <input type="text" name="cpf" placeholder="CPF" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="password" id="senha1" name="password" placeholder="Senha" required/>
    <input type="password" id="senha2" name="passwordConfirm" placeholder="Confirme a Senha" required/>
    <label>
        <input type="checkbox" name="isAdmin"/> Admin
    </label>
    <button type="submit">Criar Usuário</button>
</form>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Admin</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <form th:action="@{'/usuarios/editar/' + ${user.userId}}" method="post"
              onsubmit="return validarSenhasEdicao(this);">
            <td><input type="text" name="name" th:value="${user.name}" required/></td>
            <td>
                <input type="password" name="password" placeholder="Nova senha"/>
                <input type="password" name="passwordConfirm" placeholder="Confirme a senha"/>
            </td>
            <td><input type="text" name="cpf" th:value="${user.cpf}" required/></td>
            <td>
                <input type="checkbox" name="isAdmin" th:checked="${user.isAdmin}"/>
            </td>
            <td>
                <select name="active">
                    <option th:value="true" th:selected="${user.active}">Ativo</option>
                    <option th:value="false" th:selected="${!user.active}">Inativo</option>
                </select>
            </td>
            <td>
                <button type="submit">Salvar</button>
            </td>
        </form>

    </tr>
    </tbody>
</table>
</body>

</html>